/* CSS Reset */
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{line-height:1.5;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
abbr,acronym{border:0;font-variant:normal;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
code,kbd,samp,tt{font-size:100%;}
input,button,textarea,select{*font-size:100%;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
sup,sub{font-size:100%;vertical-align:baseline;}
:focus{outline:0;}
:link,:visited,ins{text-decoration:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"\0020";content:none;}
a{cursor:pointer;}
/* CSS Style */
body,div{font-size:12px;color:#2e2e2e;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
table{width:100%;}
table th{text-align:right;font-weight:normal;}
table th, table td{padding:3px;}
#side-menu{width:164px;overflow:hidden;padding-bottom:999px;margin-bottom:-999px;}
#side-menu .nav{
    position:relative;z-index:9;
    display:block;width:163px;padding-bottom:999px;margin-bottom:-999px;
    border-style:solid;border-color:#868686;border-width:2px 1px 0 0;
}
#side-menu .nav li{
    display:block;width:163px;border-style:solid;border-color:#e8e8e8;border-width:1px 0;
    position:relative;z-index:1;margin-top:-1px;
}
#side-menu .nav li a{
    display:block;padding-left:63px;width:100px;height:52px;line-height:52px;color:#818080;font-size:14px;
    background-image:url(images/icon-menu.png);background-repeat:no-repeat;background-position:-999px -999px;
}
#side-menu .nav li a.action1{background-position:20px 13px;}
#side-menu .nav li a.action2{background-position:20px -35px;}
#side-menu .nav li a.action3{background-position:20px -77px;}
#side-menu .nav li a.action4{background-position:20px -123px;}
#side-menu .nav li a.action5{background-position:20px -169px;}
#side-menu .nav li a.action6{background-position:20px -213px;}
#side-menu .nav li a.action7{background-position:20px -256px;}
#side-menu .nav li.active a.act-menu{color:#2f2f2f;}
#side-menu .nav li .action-menu{border-top:1px solid #e8e8e8;}
#side-menu .nav li a.action-item{background-image:url(images/act-menu.png);background-color:#FFF;}
#side-menu .nav li a.active{width:101px;border-style:solid;border-color:#9e9e9e;border-width:1px 0;color:#2f2f2f;background-position:136px 19px;}
#footer{text-align:center;line-height:40px;}

.logo{display:block;width:163px;height:75px;overflow:hidden;}
.wrapper{position:relative;width:100%;margin-top:75px;}
.btn{
    display:inline-block;*display:inline;*zoom:1;border:0;color:#FFF;cursor:pointer;text-align:center;font-size:14px;font-weight:bold;
    background-image:url(images/button.png);background-repeat:no-repeat;
}
.btn1{width:115px;height:38px;background-position:left top;}
.btn2{width:86px;height:30px;background-position:left -48px;}
.btn3{width:51px;height:30px;background-position:left -88px;}
.btn4{width:63px;height:24px;background-position:left -128px;font-size:12px;}
.btn5{width:115px;height:38px;background-position:left -162px;}
.txt{border:1px solid #CCC;height:23px;line-height:21px;}
.triangle-up,.triangle-down{
    display:inline-block;*display:inline;*zoom:1;width:0;height:0;overflow:hidden;
    border-width:9px 5px;border-style:dashed;border-color:transparent;*margin-right:5px;
}
.triangle-up{border-top-width:0;border-bottom-style:solid;border-bottom-color:#868686;}
.triangle-down{border-bottom-width:0;border-top-style:solid;border-top-color:#868686;}
.btn-yellow .triangle-up,
.btn-yellow .triangle-down{border-width:18px 10px;*margin-right:10px;}
.btn-yellow .triangle-up{border-top-width:0;border-bottom-color:#E1CA3E;}
.btn-yellow .triangle-down{border-bottom-width:0;border-top-color:#E1CA3E;}
.btn-red .triangle-up,
.btn-red .triangle-down{border-width:18px 10px;*margin-right:10px;}
.btn-red .triangle-up{border-top-width:0;border-bottom-color:#FF4C4D;}
.btn-red .triangle-down{border-bottom-width:0;border-top-color:#FF4C4D;}
.btn-blue .triangle-up,
.btn-blue .triangle-down{border-width:18px 10px;*margin-right:10px;}
.btn-blue .triangle-up{border-top-width:0;border-bottom-color:#80C31C;}
.btn-blue .triangle-down{border-bottom-width:0;border-top-color:#80C31C;}


.tab-menu{position:absolute;top:-30px;}
.tab-menu li{float:left;display:block;position:relative;margin-right:-20px;width:150px;height:30px;border-bottom:1px solid #868686;overflow:hidden;}
.tab-menu li.one{z-index:30;}
.tab-menu li.two{z-index:20;}
.tab-menu li.end{z-index:0;}
.tab-menu li.active{z-index:100;border-bottom:1px solid #FFF;}
.tab-menu li a{display:block;text-align:center;width:150px;height:30px;line-height:30px;font-weight:bold;color:#666;background:url(images/tab.png) no-repeat;}
.circle-red,.circle-yellow,.circle-blue{
    float:left;display:block;width:24px;height:24px;overflow:hidden;text-indent:-999px;
    margin-left:15px;background-image:url(images/circle.png);background-repeat:no-repeat;
}
.circle-red{background-position:left top;}
.circle-yellow{background-position:left -34px;}
.circle-blue{background-position:left -68px;}
.content{padding:20px;border-top:1px solid #868686;}
.block-wrap{}
.block-head{position:relative;height:34px;padding-top:10px;background-color:#d6d6d6;font-size:14px;}
.block-head span{padding-left:30px;}
.block-head span em{color:#F00;}
.block-content{border-style:solid;border-color:#d6d6d6;border-width:0 1px 1px 1px;padding:10px;}
.block-content .txt{width:145px;}
.search-mini{position:absolute;width:202px;height:29px;right:200px;top:8px;background-color:#FFF;}
.search-mini input{border:0;height:29px;line-height:25px;background-color:#FFF;}
.search-mini .search-mini-text{width:170px;padding-left:3px;}
.search-mini .search-mini-btn{cursor:pointer;width:29px;background-image:url(images/search.png);background-repeat:no-repeat;background-position:center center;}
.search-handle{position:absolute;height:23px;padding:10px 15px;background-color:#FFF;right:1px;top:1px;color:#000;}
.search-handle b{margin-left:5px;}

table.datalist-order th,
table.datalist-order td{padding:5px;color:#444;}
table.datalist-order thead th{text-align:left;font-weight:bold;}
table.datalist-order tbody td{background-color:#F6F6F6;border-style:solid;border-color:#C1C1C1;border-width:2px 0 1px;}
.datalist-items-wrap{position:relative;overflow:hidden;}
table.datalist-items{position:relative;margin-bottom:-1px;}
table.datalist-items th,
table.datalist-items td{padding:5px;color:#444;border-bottom:1px solid #CCC;}
table.datalist-items thead th{text-align:left;font-weight:bold;}
table.datalist-settlement-view{border-top:1px solid #CCC;}
table.datalist-settlement-view .txt{width:70px;}
table.datalist-settlement-view th,
table.datalist-settlement-view td{border-bottom:1px solid #CCC;}
table.datalist-settlement-view th{color:#818080;text-align:left;}
table.datalist-settlement-view td{color:#444;}
table.datalist-settlement-view .rb{border-right:1px solid #CCC;}
table.datalist-settlement-view tr.bg td,
table.datalist-settlement-view .bg{background-color:#DFDFDF;}
table.datalist-settlement-view tr.center td,
table.datalist-settlement-view .center{text-align:center;}
table.datalist-settlement-view td.head{width:20px;text-align:center;}
.datalist-process{display:block;height:13px;}
.datalist-process .process-1,
.datalist-process .process-2,
.datalist-process .process-3{float:left;display:block;height:13px;line-height:13px;overflow:hidden;text-align:center;background-repeat:repeat-x;}
.datalist-process .process-1{background-image:url(images/process-1.jpg);}
.datalist-process .process-2{background-image:url(images/process-2.jpg);}
.datalist-process .process-3{background-image:url(images/process-3.jpg);}
.datalist-settlement{position:relative;border:1px solid #000;color:#444;}
.datalist-settlement-tip{
    position:absolute;width:80px;height:28px;padding-top:10px;top:-38px;left:-1px;text-align:center;background:url(images/settlement-tip.jpg) repeat-x;
    font-weight:bold;color:#666;border-style:solid;border-color:#000;border-width:1px 1px 0 1px;
}
.datalist-settlement-tip b{margin-left:6px;}
.settlement-list{display:block;height:28px;margin:10px;}
.settlement-list li{float:left;height:26px;line-height:26px;border-style:solid;border-color:#999;border-width:1px 0;}
.settlement-list li a{position:relative;display:block;height:26px;padding:0 15px;border-left:1px solid #999;color:#818080;background-color:#D8D8D8;}
.settlement-list li a b,
.settlement-list li a i{
    position:absolute;display:block;width:0;height:0;overflow:hidden;
    border-style:dashed;border-color:transparent;border-left-style:solid;
}
.settlement-list li a b{z-index:7;border-width:14px;border-right-width:0;border-left-color:#999;top:-1px;right:-13px;}
.settlement-list li a i{z-index:9;border-width:13px;border-right-width:0;border-left-color:#FFF;top:0;right:-12px;}
.settlement-list li a.active{color:#FFF;background-color:#999;}
.settlement-list li a.active i{display:none;}
.datalist-settlement h4{text-align:center;font-size:14px;}
.settlement-number,
.settlement-date{float:right;padding-right:50px;}
.company-serial{padding:5px 15px;background-color:#DFDFDF;}
.settlement-company,
.settlement-serial{float:left;width:50%;}
.order-number{padding:5px 30px;}